name: CI
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run Build
        run: echo 'Building...'
      - name: Run Tests
        run: echo 'Testing...'
